@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

.workspace-collapsed .rounded-lg.border.bg-white {
  display: flex;
  justify-content: center;
}
